{% extends "base.html" %}

{% block title %}
    Testing
{% endblock title %}

{% block content %}

<div class="row" style="margin-left:5%; margin-right:5%; margin-top:5%;">
  <div class="col-sm-6">
    <div class="card" style="box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.5); ">
      <div class="card-body">
        <h5 class="card-title"><b style="color:FF6EC7;"> Franchaise Information</b></h5>
        <p class="card-text">&nbsp; &nbsp; &nbsp; &nbsp; Ladachi Kulfi has been scaling heights taller and taller since inception with presently 207 outlets and food trucks
while optimistically aiming at 1000 branches and brand presence in over 20000 retailer outlets in the nearest future.
The kulfi & ice cream franchise is known for bringing its sustainable rich-in-milk dessert treats to customers at
all kinds of events, and the customers get to apply the flavorings themselves
</p><br>
        <center> <a href="newview.php" class="btn btn-primary">View</a></center> 
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.5);">
      <div class="card-body">
      <h5 class="card-title"><b style="color:FF6EC7;"> Product Information</b></h5>
        <p class="card-text">&nbsp; &nbsp; &nbsp; &nbsp; The lion's share in giving this recognition to kulfi goes to Ladachi Kulfi! The brand Ladachi Kulfi has succeeded in giving a facelift to the meager and indigenous kulfi. Behind it stands immense hard work of Rahul Papal.
         Rahul Papal and his Ladachi Kulfi have succeeded in popularizing the common kulfi on the strength of innovation and experiments. That too within a year.</p>
       <br>
         <center> <a href="list_product.php" class="btn btn-primary">View</a></center> <br>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="row" style="margin-left:5%; margin-right:5%;">
  <div class="col-sm-6">
    <div class="card" style="box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.5);">
      <div class="card-body">
      <h5 class="card-title"><b style="color:FF6EC7;">About Us</b></h5>
      <p class="card-text">&nbsp; &nbsp; &nbsp; &nbsp; The lion's share in giving this recognition to kulfi goes to Ladachi Kulfi! The brand Ladachi Kulfi has succeeded in giving a facelift to the meager and indigenous kulfi. Behind it stands immense hard work of Rahul Papal.
        Rahul Papal and his Ladachi Kulfi have succeeded in popularizing the common kulfi on the strength of innovation and experiments. That too within a year.</p>
       <br> <center> <a href="http://www.papalgroup.com/" class="btn btn-primary">View</a></center>  <br> 
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.5); ">
        <div class="card-body">
          <h5 class="card-title"><b style="color:FF6EC7;"> Franchaise Information</b></h5>
          <p class="card-text">&nbsp; &nbsp; &nbsp; &nbsp; Ladachi Kulfi has been scaling heights taller and taller since inception with presently 207 outlets and food trucks
  while optimistically aiming at 1000 branches and brand presence in over 20000 retailer outlets in the nearest future.
  The kulfi & ice cream franchise is known for bringing its sustainable rich-in-milk dessert treats to customers at
  all kinds of events, and the customers get to apply the flavorings themselves
  </p><br>
          <center> <a href="newview.php" class="btn btn-primary">View</a></center> 
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

{% endblock content %}